* {
  font-family: sans-serif;
}

.Application {
  font-family: sans-serif;
  text-align: center;
}

.Header {
  text-align: center;
}

.Container {
  text-align: center;
}

.BtnEmpty {
  text-align: center;
  padding-top: 15px;
}

button {
  border-radius: 8px;
  border-width: 1px;
  padding: 5px;
}

.todo-item {
  font-size: large;
  cursor: pointer;
}